<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>FeedBacker</title>
  </head>
  <body class="bg-blue-600">
    <div
      style="
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
        height: 100vh;
      "
    >
      <div
        class="w-full max-w-lg p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700"
      >
        <div class="bg-white p-4 flex justify-center">
          <img
            class="mx-auto h-10"
            src="https://avatars.githubusercontent.com/u/55450200?v=4"
            alt="Company Logo"
          />
        </div>
        <form class="space-y-6" id="feedbackForm">
          <h5 class="text-xl font-medium text-gray-900 dark:text-white">
            {{ Heading }}
          </h5>
          <div>
            <label
              htmlfol="email"
              class="ml-1 mb-4 block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >
              {{ Description }}
            </label>
            <div class="w-full">
              <label
                htmlfol="Name"
                class="ml-1 mb-1 block text-sm font-medium text-gray-900 dark:text-white"
              >
                Name <span class="text-red-500">*</span>
              </label>
              <input
                type="text"
                name="Name"
                id="Name"
                class="mb-3 w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block p-2.5 focus:border-blue-200 focus:outline-none focus:ring-2 focus:ring-blue-300"
                placeholder="enter your Name here"
                required
              />
            </div>
            {{if ShowEmailBox==true}}
            <div class="w-full">
              <label
                for="Email"
                class="ml-1 mb-1 block text-sm font-medium text-gray-900 dark:text-white"
              >
                Email <span class="text-red-500">*</span>
              </label>
              <input
                type="email"
                name="Email"
                id="Email"
                class="mb-4 w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block p-2.5 focus:border-blue-200 focus:outline-none focus:ring-2 focus:ring-blue-300"
                placeholder="enter your Email here"
                required
              />
            </div>
            {{end}}

            <textarea
              id="feedback"
              rows="4"
              class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Write your feedback here"
            ></textarea>

            {{if ShowRatingBox==true}}
            <label
              for="rating"
              class="ml-1 mt-3 block text-sm font-medium text-gray-900 dark:text-white"
            >
              Rating <span class="text-red-500">*</span>
            </label>
            <div class="flex items-center mt-1 cursor-pointer">
              <svg
                class="w-4 h-4 text-gray-300 dark:text-gray-500 ms-1 rating-star"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 22 20"
              >
                <path
                  d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"
                />
              </svg>
              <svg
                class="w-4 h-4 text-gray-300 dark:text-gray-500 ms-1 rating-star"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 22 20"
              >
                <path
                  d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"
                />
              </svg>
              <svg
                class="w-4 h-4 text-gray-300 dark:text-gray-500 ms-1 rating-star"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 22 20"
              >
                <path
                  d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"
                />
              </svg>
              <svg
                class="w-4 h-4 text-gray-300 dark:text-gray-500 ms-1 rating-star"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 22 20"
              >
                <path
                  d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"
                />
              </svg>
              <svg
                class="w-4 h-4 ms-1 text-gray-300 dark:text-gray-500 rating-star"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 22 20"
              >
                <path
                  d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"
                />
              </svg>
            </div>
            {{end}}
          </div>

          <div class="flex items-start">
            <div class="flex items-start">
              <p
                class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
              >
                {{ Footer }}
              </p>
            </div>
          </div>
          <button
            class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
            id="submitBtn"
          >
            Submit
          </button>
          <div class="flex items-center justify-center mt-4">
            <p class="text-sm text-gray-500">
              ⚡ Powered by
              <a
                href="https://www.codeclinelabs.com/"
                class="font-semibold text-blue-600 hover:text-blue-800 transition-colors duration-200"
              >
                Feedbacker
              </a>
            </p>
          </div>
        </form>
      </div>
    </div>

    <script>
      let rating = -1;
      const ratingStars = document.querySelectorAll(".rating-star");

      ratingStars.forEach((item, index) => {
        item.addEventListener("click", () => {
          ratingStars.forEach((star) => {
            star.classList.remove("text-yellow-300");
            star.classList.add("text-gray-300");
          });

          for (let i = 0; i <= index; i++) {
            console.log(i, " Value of Rating");
            rating = i + 1;
            ratingStars[i].classList.add("text-yellow-300");
            ratingStars[i].classList.remove("text-gray-300");
          }
        });
      });
      let data = {
        Feedback: "",
        Email: "",
        Name: "",
      };

      document
        .getElementById("feedbackForm")
        .addEventListener("submit", (e) => {
          e.preventDefault();
          submitBtn();
        });
      const submitBtn = (e) => {
        const feedbackEl = document.getElementById("feedback");
        const nameEl = document.getElementById("Name");
        const emailEl = document.getElementById("Email");

        data = {
          Feedback: feedbackEl.value,
          Email: emailEl.value,
          Name: nameEl.value,
          Rating: rating,
        };

        //DO A POST API CALL

        fetch("http://localhost:8080/feedback", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
           
          },
          body: JSON.stringify(data),
        })
          .then((response) => response.json())
          .then((data) => {
            console.log("Success:", data);
          })
          .catch((error) => {
            console.error("Error:", error);
          });

        console.log(data);
      };
    </script>

    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.js"></script>
  </body>
</html>
